body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#workspace-id-form-control,
#workspace-email-form-control,
#workspace-api-token-form-control {
    display: none;
}

#wokrspaces-request-section {
    float: left;
    width: 40%;
    padding: 0px 10px;
}

#workspaces-response-section {
    float: right;
    width: 60%;
    padding: 0px 10px;
}

#report-response-section {
    clear: both;
}

#report-response-sub-section {
    border-top: 1px solid grey;
    padding-top: 10px;
    margin-top: 30px;
}

#report-form-advnaced-settings-section {
    display: none;
}

#advanced-settings-checkbox-label {
    display: block;
}

#advanced-settings-checkbox {
    margin-right: 10px;
}
