<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoreySutton.TogglTools.TogglConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <applicationSettings>
        <CoreySutton.TogglTools.TogglConsole.Properties.Settings>
            <setting name="Domain" serializeAs="String">
                <value>https://toggl.com</value>
            </setting>
            <setting name="WorkspaceEndpoint" serializeAs="String">
                <value>/api/v8/workspaces</value>
            </setting>
            <setting name="ReportEndpoint" serializeAs="String">
                <value>/reports/api/v2/details</value>
            </setting>
            <setting name="DefaultApiPassword" serializeAs="String">
                <value>api_token</value>
            </setting>
            <setting name="ApiToken" serializeAs="String">
                <value>41975f06a6ddb2df97ab5e84b8a17930</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>coreysutton@outlook.co.nz</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>TogglReport.txt</value>
            </setting>
        </CoreySutton.TogglTools.TogglConsole.Properties.Settings>
    </applicationSettings>
</configuration>