<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoreySutton.TogglTools.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CoreySutton.TogglTools.Core.Properties.Settings>
            <setting name="TogglApiDomain" serializeAs="String">
                <value>https://toggl.com</value>
            </setting>
            <setting name="TogglApiWorkspaceEndpoint" serializeAs="String">
                <value>/api/v8/workspaces</value>
            </setting>
            <setting name="TogglApiReportEndpoint" serializeAs="String">
                <value>/reports/api/v2/details</value>
            </setting>
            <setting name="DefaultApiPassword" serializeAs="String">
                <value>api_token</value>
            </setting>
            <setting name="CustomApiDomain" serializeAs="String">
                <value>http://localhost:53343</value>
            </setting>
            <setting name="CustomApiWorkspaceEndpoint" serializeAs="String">
                <value>api/Report</value>
            </setting>
            <setting name="CustomApiReportEndpoint" serializeAs="String">
                <value>api/Workspace</value>
            </setting>
        </CoreySutton.TogglTools.Core.Properties.Settings>
    </userSettings>
</configuration>